# Node modules
node_modules/

# Next.js build output
.next/

# Static build output
out/

# Log files
*.log

# Dependency directories
jspm_packages/

# Environment variables
.env
.env.local
.env.*.local

# IDE and editor settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Sentry error tracking files
.sentry/

# Miscellaneous
*.tgz
